@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Mapeamos tus colores a variables CSS por si acaso */
  --background: #130119;
  --foreground: #F2F2F2;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden; /* Evita scroll lateral en celulares */
}

/* Clase utilitaria para textos con gradiente (estilo moderno) */
.text-gradient {
  background: linear-gradient(to right, #F2138E, #551CA6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  /* Oculta scrollbar en Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Oculta scrollbar en IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}